/* I'm using this color wheel scheme:  http://colorschemedesigner.com/#3B31WiinnrrtI  */

.container {
	width: 960px;
}

body {
	background: #6D90B8;
}

header { padding-top: 20px; 
	}
	
header img {
	padding: 1em; 
	background: #fff;
}

section {
	margin-top: 1em; 
	font-size: 120%;
	padding: 20px;
	background: #fff;
}

section h1 {
	font-size: 200%;
}

/* links */
a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069; 
	text-decoration: underline; 
}

a:visited {
	color: #069; 
}

/* navigation */
nav {
	float: right; 
	background: white; 
	padding: 0 0.7em; 
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none; 
	display: inline-block;
	padding: 0.2em 0em; 
}

nav ul li a {
	padding: 0 5px; 
	font-weight: bold; 
}

nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
	text-decoration: underline; 
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #DA987A;
  font-size: 150%;
  font-weight: bold;
  padding: 10px;
}

/* ROUND CORNERS */

.round {
	-moz-border-radius:    10px;
  	-webkit-border-radius: 10px;
  	border-radius:         10px;
}

/* Footers */

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* user show page */

table.profile {
	width: 100%; 
	margin-bottom: 0;
}

td.main {
	width: 70%;
	padding: 1em;
}

td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #DA987A;
}

.profile img.gravatar {
	border: 1px solid #999; 
	margin-bottom: -15px;
}

div.field, div.actions {
	margin-bottom: 10px;
	
}


/* Errors Styling */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.users {
	margin-top: 1em;
	}
	
ul.users li {
	list-style: none;
}

/* from Chapter 11 
   styling Microposts */

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}

/* CSS for jobposts */

h1.jobpost {
  margin-bottom: 0.3em;
}

table.jobposts {
  margin-top: 1em;
}

table.jobposts tr {
  height: 70px;
}

table.jobposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.jobposts tr td.jobpost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.jobposts tr td.jobpost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

table.jobposts tr td.jobpost span.title {
  display: block;
  font-size: 110%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.location {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.poster {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.work_type {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.max_budget {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.work_intensity {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.overtime {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.start_date {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.duration {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.skills {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

table.jobposts tr td.jobpost span.description {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.jobposts {
  font-size: 80%;
}

form.new_jobpost {
  margin-bottom: 2em;
}

form.new_jobpost textarea {
  height: 4em;
  margin-bottom: 0;
}

/* Left Content Search Box */



td.searchbox {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #DA987A;
}


/*td.left_search_box {
  text-align: left;
  margin-top: 10px;
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}*/

/* Sign up button */

a.postproject_button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #DA987A;
  font-size: 110%;
  font-weight: bold;
  padding: 10px;
}

td.user_searchbox {
    width: 30%;
    padding: 1em;
    vertical-align: top;
    background: #DA987A;
}

td.user_profile span.real_name {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.user_profile span.yesstatus {
  display: block;
  font-size: 100%;
  color: #66CC00;
/* Green for Available */
  margin-bottom: 0.3em;
}

td.user_profile span.nostatus {
  display: block;
  font-size: 100%;
  color: #FF0000;
/* RED for Unavailable */
  margin-bottom: 0.3em;
}

td.user_profile span.skills {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.user_profile span.location {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.user_profile span.rating {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.user_profile span.jobs_completed {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.user_profile span.tagline {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.user_profile span.topskills {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.user_profile span.resume {
  display: block;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.3em;
}

td.bids {
  width: 25%;
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

td.main_bid {
	width: 70%;
	padding: 1em;
        vertical-align: top;
}

td.abbrev_user {
  display: inline-block;
  width: 22%;
  font-size: 100%;
  color: #000;
  margin-bottom: 0.0em;
  border-top: 1px solid #ccc;
/*  vertical-align:text-bottom;*/
}

td.abbrev_user_tagline {
  display: block;
  width: 100%;
  color: #000;
/*  margin-bottom: 0.5em;*/
/*  border-bottom: thin solid black;*/
  vertical-align:text-bottom;
}
/*  Need to make multiple SPANS for the abbrev_user block */
div.bidtable span.yesstatus {
  color: #66CC00;
/* Green for Available */
    display: inline-block;
    width: 15%;
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 30px;
       text-align: right;
}

div.bidtable span.nostatus {
  color: #FF0000;
/* RED for Unavailable */
    display: inline-block;
    width: 15%;
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 30px;
    text-align: right;
}

div.bidtable span.name {
    display: inline-block;
    width: 20%;
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;

}

div.bidtable span.location {
    display: inline-block;
    width: 20%;
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;

}
div.bidtable span.rating {
    display: inline-block;
    width: 20%;
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;
    text-align: center;
}
div.bidtable span.jobs_completed {
    display: inline-block;
    width: 20%;
    text-align: center;
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;
}
div.bidtable span.amount {
    display: inline-block;
    text-align: center;
    width: 18%;
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;
}
div.bidtable span.tagline {
    display: block;
    width: 100%;
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.bidfeed {
    width: 71%;
    margin: auto;
    background: #ffffff;
    display: inline-block;
    vertical-align: top;
}

div.escrow {
    width: 100%;
    margin: auto;
    background: #ffffff;
    display: inline-block;
    vertical-align: top;
}

div.user_searchbox {
    width: 25%;
    padding: 1em;
    background: #DA987A;
    display: inline-block;
}

div.place_bid {
  width: 30%;
  margin: auto;
  padding: 20px;
  border: 1px solid #666;
  background: #eee;
  position: relative;
  margin-bottom: 30px;
}

span.no_results {
    display: block;
    margin-top: 15px;

}