<h1>Welcome to the Alpha Development Site for PLE</h1>
<p>
	<p>
        PLE is an exchange for legal service providers, connecting
        clients, law firms, placement agencies, and contract attorneys through
        the posting of and bidding on legal projects.
        <p/>
        As a contract attorney, you can bid on projects to: </br>
        * manage your work-flow better </br>
        * increase the predictability of your next job </br>
        * stand out among your peers vying for jobs</br>
        </p>
        <p/>
        As a placement agency, you can post projects to: </br>
        * reach a broader audience of qualified contract attorneys </br>
        * search for attorneys who have hard-to-find skills </br>
        * manage project staffing more efficiently.</br>
        </p>

        <center>Sign-up now and start bidding or posting projects.</br></center>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

