<h1>Browse Projects</h1> 

<%= link_to "Post a New Project", post_project_path, :class => "signup_button round" %>

	<table class="font" summary="For signed-in users">
		<tr>
			<td class "main">
				<%= render 'shared/jobfeed' %>
				</br>
			</td>	
		</tr>
	</table>
